#btn-cont {
    display: inherit;
    justify-content: space-between;
}

#submit-btn {
    background-color: var(--secondary-color);
}

#reset-btn {
    background-color: var(--accent-color);
}

.att-cont {
    display: flex;
    background-color: rgb(240, 240, 240);
    border-radius: 1rem;
    padding: 0.5rem;
}

.att-cont input {
    margin-left: auto;
}

.section-label {
    font-size: large;
    font-weight: bold;
}

.checkbox-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0.25rem;
}

.checkbox-group strong {
    display: block;
}

.checkbox-group label {
    display: block;
}

.input-num {
    border-radius: 0.5rem;
    width: 3rem; height: 1.5rem;
    text-align: center;
    border: 1px solid var(--text-color);
}