#btn-cont {
    display: inherit;
    justify-content: space-between;
}

#submit-btn {
    background-color: var(--secondary-color);
}

#reset-btn {
    background-color: var(--accent-color);
}

.att-cont {
    background-color: rgb(240, 240, 240);
    border-radius: 1rem;
    padding: 0.5rem;
}

.att-cont input {
    margin-left: auto;
}

.att-label {
    font-size: large;
    font-weight: bold;
}

.checkbox-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0.5rem;
}

.checkbox-group strong {
    display: block;
}

.checkbox-group label {
    display: block;
    cursor: pointer;
}

.checkbox-group label input {
    margin-right: 0.25rem;
    cursor: pointer;
}